run = "dart run bin/server.dart"
entrypoint = "bin/server.dart"
language = "dart"
modules = ["nodejs-14"]

[nix]
channel = "stable-25_05"

[deploy]
publicDir = "/"
run = ["sh", "-c", "dart run bin/server.dart"]

